<!doctype html>
<html lang="en" class="no-js">
<head>
  <base target="_blank">
  <meta charset="UTF-8" />
  <title>Luuk Tholen</title>
  <link rel="shortcut icon" type="image/png" href="assets/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href= "{{url_for('static',filename='css/about_me_style.css')}}"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous" type="text/css">
  <script src="{{url_for('static',filename='js/demo.js')}}"></script>
  <script src="{{url_for('static',filename='js/background.js')}}"></script>
</head>

<body>

<div id="particles">
  <div id="intro">
    <a href="index" target="_self" style="color: white;"><i class="fas fa-home" style="font-size: 2em; padding-top: 10px; padding-bottom: 10px;"></i></a>
    <hr>
    <p class="about_me">
    Mijn naam is Luuk Tholen, ik ben een Python developer.<br>
    Ik kom uit Nederland
    </p>
  </div>
</div>

</body>
</html>
