*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;  
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}

img {
  height: 30px;
  width: 30px;
  margin-bottom: -4px;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}


/* particleground demo */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #000010;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 600px;
}

#intro {
  position: absolute;
  left: 0;
  top: 15%;
  padding: 0 10px;
  width: 100%;
  text-align: center;
}

#a2048 {
  position: absolute;
  top: 20%;
  width: 100%;
  text-align: center;
}

button {
  color: white;
  background-color: transparent;
  display: block;
  margin-left: 49%;
}

h2 {
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 120;
  color: #ffffff;
  letter-spacing: 0.05em;
}
h1::after {
  content: '';
  width: 80px;
  display: block;
  background: #fff;
  height: 10px;
  margin: 30px auto;
  line-height: 1.1;
}
p {
  margin: 0 0 30px 0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 100px) {
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 8px;
  }
}

@media only screen and (max-width: 100px) {
  #intro {
    padding: 0 10px;
  }
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 6px;
  }
  p {
    font-size: 18px;
  }
  .btn {
    font-size: 16px;
  }
}

@media only screen and (max-width: 100px) {
  h1 {
    font-size: 15px;
  }
  h1::after {
    height: 4px;
  }
}

table {
  display: inline-block;
  background-color: rgb(187, 173, 160);
  border-radius: 1%;
  border-spacing: 10px;
}

td {
  border-radius: 1%;
  background-color: rgb(204, 192, 179);
  width: 100px;
  height: 100px;
  vertical-align: middle;
  font-weight: bold;
}

.animated_text {
  width: 400px;
  height: 100px;
  color: white;
  font-size: 4rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  animation: fadein_fadeout 3s linear;
}

.a2 {
  background-color: rgb(238, 228, 218);
  font-size: 55px;
  color: rgb(119, 110, 101);
}

.a4 {
  background-color: rgb(237, 224, 200);
  font-size: 55px;
  color: rgb(119, 110, 101);
}

.a8 {
  background-color: rgb(242, 177, 121);
  font-size: 55px;
  color: rgb(249, 246, 242);
}

.a16 {
  background-color: rgb(245, 149, 99);
  font-size: 55px;
  color: rgb(249, 246, 242);
}

.a32 {
  background-color: rgb(246, 124, 95);
  font-size: 55px;
  color: rgb(249, 246, 242);
}

.a64 {
  background-color: rgb(246, 94, 59);
  font-size: 55px;
  color: rgb(249, 246, 242);
}

.a128 {
  background-color: rgb(237, 207, 114);
  font-size: 50px;
  color: rgb(249, 246, 242);
}

.a256 {
  background-color: rgb(237, 204, 97);
  font-size: 50px;
  color: rgb(249, 246, 242);
}

.a512 {
  background-color: rgb(237, 200, 80);
  font-size: 50px;
  color: rgb(249, 246, 242);
}

.a1024 {
  background-color: rgb(237, 197, 63);
  font-size: 40px;
  color: rgb(249, 246, 242);
}

.a2048 {
  background-color: rgb(237, 194, 46);
  font-size: 40px;
  color: rgb(249, 246, 242);
}

@keyframes fadein_fadeout {
  0%,100% { 
    opacity: 0;
  }
  50% { 
    opacity: 1
  }
}

@keyframes combine {
  0% {
    opacity: : 0;
  }
  100% { 
    opacity: 1;
  }
}